<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <title>Das intelligente Bücherregal</title>
    </head>
    <body>
        <h1>Das intelligente Bücherregal</h1>
        <p>Was möchtest Du tun?</p>
        <a href="/add_book" class="button">Neues Buch hinzufügen</a>
        <a href="/search_book" class="button">Nach Buch suchen</a>  <br>
        <a href="/show_books" class="button">Bücher anzeigen</a>

    </body>
</html>